cocos2d/
proj.android/ant.properties
proj.android/blocks-key.keystore
proj.android/bin
proj.android/obj
proj.android/assets
proj.android/libs
proj.ios_mac/
proj.linux/
proj.win8.1-universal/
proj.wp8-xaml/
proj.win32/Debug.win32
proj.win32/Release.win32
proj.win32/*.sdf
proj.win32/*.v12.suo
*opensdf
bin/